Python Output Using print() function

In [ ]:
print("Hello Umakant! welcome to the python tutorial")

Hello Umakant! welcome to the python tutorial

In [ ]:
a=5
print("Print the value of a is",a)

Print the value of a is 5

In [ ]:
x,y=5,6
print("The value of x is {} and the value of y is {}".format(x,y))

The value of x is 5 and the value of y is 6

### **Strings**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode
characters.

In [ ]:
greet="Good Morning Umakant"
print(greet)

Good Morning Umakant

Slicing

In [ ]:
greet[3]

'd'

In [ ]:
greet[0:5]

'Good '

In [ ]:
greet[::]

'Good Morning Umakant'

In [ ]:
greet[:12]

'Good Morning'

In [ ]:
#Negative indexing in String
greet[-6:-1]

'makan'

In [ ]:
#reverse a string
greet="Good Morning Umakant"
greet[::-1]

'tnakamU gninroM dooG'

Looping Through a String

In [ ]:
for i in greet:
  print(i)

G
o
o
d

M
o
r
n
i
n
g

U
m
a
k
a
n
t

**String Length**

To get the length of a string, use the len() function.

In [ ]:
print(len(greet))

20

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt = "The best things in life are free!"

if 'in' in txt:
  print("Yes ! in is present")
else:
  print("Text Not found")

Yes ! in is present

In [ ]:
txt = "The best things in life are free!"

if 'Good' not in txt:
  print("Good is not in txt")

Good is not in txt

Modify Strings

In [ ]:
intro="Hello everyone ,My name is Umakant Yadav"

In [ ]:
#convert string into all UPPER Case
intro.upper()

'HELLO EVERYONE ,MY NAME IS UMAKANT YADAV'

In [ ]:
#convert string into all lower Case
intro.lower()

'hello everyone ,my name is umakant yadav'

In [ ]:
#remove whitespace from starting and end of string using strip()
intro=" Hello everyone ,My name is Umakant Yadav "
intro.strip()

'Hello everyone ,My name is Umakant Yadav'

In [ ]:
#Replace string
intro.replace("everyone",'everybody')

' Hello everybody ,My name is Umakant Yadav '

In [ ]:
#convert string to List using split()
intro.split()

['Hello', 'everyone', ',My', 'name', 'is', 'Umakant', 'Yadav']

### **Lists**

In [ ]:
guru=['Umakant',23,5.4,'M']

In [ ]:
print(guru)

['Umakant', 23, 5.4, 'M']

Access Items

In [ ]:
guru[2]

5.4

Range of Indexes

In [ ]:
guru[2:5]

[5.4, 'M']

In [ ]:
if 'M' in guru:
  print("Yes!! M is in List guru")

Yes!! M is in List guru

In [ ]:
print(guru)

['Umakant', 'Sameer', 'Sameer', 23, 5.4, 'M']

In [ ]:
#inser item
guru.insert(1,'Sameer')
guru

['Umakant', 'Sameer', 'Sameer', 23, 5.4, 'M']

In [ ]:
#remove
guru.remove('Sameer')

In [ ]:
#append
guru.append("Hii")

In [ ]:
#pop
guru.pop(5)
guru

['Umakant', 'Sameer', 23, 5.4, 'M']

In [ ]:
#The clear() method empties the list.
#The list still remains, but it has no content
guru.clear()

In [ ]:
guru

[]

In [ ]:
#The del keyword can also delete the list completely
guru=['Umakant', 'Sameer', 23, 5.4, 'M']
del guru

In [ ]:
guru

NameError: ignored

Loop Lists

In [ ]:
guru=['Umakant', 'Sameer', 23, 5.4, 'M']
for x in guru:
  print(x)

Umakant
Sameer
23
5.4
M

In [ ]:
guru=['Umakant', 'Sameer', 23, 5.4, 'M']
for i in range(len(guru)):
  print(guru[i])

Umakant
Sameer
23
5.4
M

In [ ]:
#Print all items, using a while loop to go through all the index numbers
print("\n")
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
#Looping Using List Comprehension
print("\n")
thelist = ["apple", "banana", "cherry"]
[x for x in thelist]

['apple', 'banana', 'cherry']

### **Tuple**



*   Tuples are used to store multiple items in a single variable.
*   A tuple is a collection which is ordered and unchangeable.
*   Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#Tuple Length using len()
print(len(thistuple))

5

In [ ]:
#One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [ ]:
#Using the tuple() method to make a tuple
newtuple=tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(newtuple)

('apple', 'banana', 'cherry')

#### Access Tuple Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
#negative indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
#Range of Negative Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
#Check if Item Exists usig IN keyword
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes,'apple' is in fruit tuple")

Yes,'apple' is in fruit tuple

#### Update Tuples

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
#Add Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Add tuple to a tuple.
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#Delete tuple completely using del keyword
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #

NameError: ignored

#### Unpacking a Tuple

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
#Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
#Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
#Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### **Sets**

Sets are used to store multiple items in a single variable.
A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
myset = {"apple", "banana", "cherry"}

In [ ]:
print(myset)

{'apple', 'cherry', 'banana'}

In [ ]:
#accessing element in Sets
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [ ]:
#Add Sets using update()
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'papaya', 'pineapple', 'apple', 'cherry', 'banana'}

In [ ]:
#Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [ ]:
#The clear() method empties the set:


thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
#The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

# Dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
for x in thisdict:
  print(x)

brand
model
year

In [ ]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [ ]:
for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

### **Loops**

Python has two primitive loop commands:

while loops

for loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

#Loop through the letters in the word "banana"
print("\n")
for x in "banana":
  print(x)

print("\n")
for x in range(6):
  print(x)

print("\n")
#Increment the sequence with a particualr value(default is 1)
for x in range(2, 30, 3):
  print(x)

apple
banana
cherry


b
a
n
a
n
a


0
1
2
3
4
5


2
5
8
11
14
17
20
23
26
29

The while Loop

With the while loop we can execute a set of statements as long as a condition is true

In [ ]:
i=1
while i <6:
  print(i)
  i +=1

1
2
3
4
5

### **Capability3: Ablility to use Functions and Functional Programming**

## 1. Callable Objects



*   Callable objects -> any object that can be invoked with the function operator "()"
*   function operator is placed immediately following the name of the callable to invoke it.
*  Python has four callable objects: functions, methods, classes, and some class instances.

Types:-

1.1 Functions

### **Algorithms in Python**

### 1.Bubble Sort

In [ ]:
def bubbleSort(arr):
    n = len(arr)
 
    # Traverse through all array elements
    for i in range(n):
 
        # Last i elements are already in place
        for j in range(0, n-i-1):
 
            # traverse the array from 0 to n-i-1
            # Swap if the element found is greater
            # than the next element
            if arr[j] > arr[j+1] :
                arr[j], arr[j+1] = arr[j+1], arr[j]
 
# Driver code to test above
arr = [64, 34, 25, 12, 22, 11, 90]
 
bubbleSort(arr)
 
print ("Sorted array is:")
for i in range(len(arr)):
    print ("%d" %arr[i]),

Sorted array is:
11
12
22
25
34
64
90

### 2.Merge Sort

In [ ]:
def mergeSort(arr):
    if len(arr) > 1:
  
         # Finding the mid of the array
        mid = len(arr)//2
  
        # Dividing the array elements
        L = arr[:mid]
  
        # into 2 halves
        R = arr[mid:]
  
        # Sorting the first half
        mergeSort(L)
  
        # Sorting the second half
        mergeSort(R)
  
        i = j = k = 0
  
        # Copy data to temp arrays L[] and R[]
        while i < len(L) and j < len(R):
            if L[i] < R[j]:
                arr[k] = L[i]
                i += 1
            else:
                arr[k] = R[j]
                j += 1
            k += 1
  
        # Checking if any element was left
        while i < len(L):
            arr[k] = L[i]
            i += 1
            k += 1
  
        while j < len(R):
            arr[k] = R[j]
            j += 1
            k += 1
  
# Code to print the list
  
  
def printList(arr):
    for i in range(len(arr)):
        print(arr[i], end=" ")
    print()
  
  
# Driver Code
if __name__ == '__main__':
    arr = [12, 11, 13, 5, 6, 7]
    print("Given array is", end="\n")
    printList(arr)
    mergeSort(arr)
    print("Sorted array is: ", end="\n")
    printList(arr)

Given array is
12 11 13 5 6 7
Sorted array is:
5 6 7 11 12 13

### 2.Insertion Sort

In [ ]:
# Function to do insertion sort
def insertionSort(arr):
  
    # Traverse through 1 to len(arr)
    for i in range(1, len(arr)):
  
        key = arr[i]
  
        # Move elements of arr[0..i-1], that are
        # greater than key, to one position ahead
        # of their current position
        j = i-1
        while j >=0 and key < arr[j] :
                arr[j+1] = arr[j]
                j -= 1
        arr[j+1] = key
  
  
# Driver code to test above
arr = [12, 11, 13, 5, 6]
insertionSort(arr)
print ("Sorted array is:")
for i in range(len(arr)):
    print ("%d" %arr[i])

Sorted array is:
5
6
11
12
13

### 2.Linear Search

In [ ]:
def search(arr, x):
  
    for i in range(len(arr)):
  
        if arr[i] == x:
            return i
  
    return -1

### RANGES:

In [ ]:
for i in range(10):
    print(i, end =" ")

0 1 2 3 4 5 6 7 8 9

### Python Program

In [ ]:
# Sum of two number
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 15
Enter second number: 10
The sum of 15 and 10 is 25.0

In [ ]:
# Python program to swap two variables

x = 5
y = 10	

# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [ ]:
#Tuple
thistuple = ("apple", "banana", "cherry")

In [ ]:
thistuple[1] = "blackcurrant"

TypeError: ignored

In [ ]:
#Set
thisset = {"apple", "banana", "cherry"}

In [ ]:
thisset.update(["orange", "mango", "grapes"])

In [ ]:
print(thisset)

{'cherry', 'apple', 'orange', 'banana', 'mango', 'grapes'}

In [ ]:
#Dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [ ]:
#Greater number
a = 31
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

b is greater than a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
print(x)

cherry

In [ ]:
def my_function(country =input("Enter Your Countrt name:")):
  #print("I am from " + country)
  return "I am from " + country
print(my_function())

Enter Your Countrt name:India
I am from India

In [ ]:
print(my_function())

I am from India

In [ ]:
#lambda
x = lambda a, b, c: a + b + c
print(x(5, 6, 2))

13

In [ ]:
import json

In [ ]:
x = '{ "name":"John", "age":30, "city":"New York"}'
# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

In [ ]:
## convert into JSON:
y = json.dumps(x)
print(y)

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}